interface GigabitEthernet0/0/0
 no ip address
!
interface GigabitEthernet0/0/1
 no ip address
!
interface GigabitEthernet0/0/2
 no ip address
!
interface GigabitEthernet0/0/3
 no ip address
!
interface TenGigabitEthernet0/1/0
 ip address {{ item.ip_addr }} {{ item.netmask }}
 duplex auto
 speed auto
!
interface loopback1
 no ip address

