interface GigabitEthernet0/0
 no ip address
!
interface GigabitEthernet0/1
 no ip address
!
interface GigabitEthernet0/2
 ip address {{ item.ip_addr }} {{ item.netmask }}
 duplex auto
 speed auto
!
interface GigabitEthernet0/0/0
 switchport
 no ip address
 {{ intf_trunk(native_vlan=1, trunk_allowed_vlans="1,100") }}
!
interface GigabitEthernet0/0/1
 switchport
 no ip address
 {{ intf_trunk(native_vlan=1, trunk_allowed_vlans="1,200") }}
!
interface GigabitEthernet0/0/2
 switchport
 no ip address
 {{ intf_access(vlan=100) }}
!
interface GigabitEthernet0/0/3
 switchport
 no ip address
 {{ intf_access(vlan=200) }}
!
interface loopback1
 no ip address

